/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */
/**
  * Remove the margin in all browsers.
  */
body {
  margin: 0;
}

/**
  * Render the `main` element consistently in IE.
  */
main {
  display: block;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
  * Remove the border on images inside links in IE 10.
  */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
  * Add the correct display in IE 10+.
  */
template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */
[hidden] {
  display: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #13141b;
  color: #ffffff;
  height: 100%;
}
body.scroll-off {
  overflow: hidden;
  touch-action: none;
}
body.modal-open {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

.header__contacts-icon {
  fill: currentColor;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button-wrap {
  position: relative;
  height: 42px;
}
.button-wrap .button {
  position: relative;
  z-index: 2;
  color: #2d303e;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 15px;
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 40px;
}
.button-wrap .button-border {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 1px;
  right: 0;
  height: 10px;
  width: calc(100% - 2px);
  background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
  border-radius: 0 0 15px 15px;
}

.small-icon {
  width: 14px;
  height: 14px;
}

.medium-icon {
  width: 16px;
  height: 16px;
}

.large-icon {
  width: 22px;
  height: 22px;
}

.breadcrumbs {
  display: flex;
  gap: 17px;
  margin-bottom: 32px;
}
.breadcrumbs__crumb {
  position: relative;
  font-size: 12px;
  color: #8892ac;
}
.breadcrumbs__crumb:not(:first-of-type)::before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  color: rgba(168, 172, 201, 0.07);
}

.title {
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
}
.title svg {
  width: 26px;
  height: 26px;
  fill: #50faeb;
  margin-right: 10px;
}
@media (max-width: 767.98px) {
  .title {
    margin-bottom: 24px;
    font-size: 22px;
  }
}

.header {
  background-color: rgba(19, 20, 27, 0.6);
  border-bottom: 1px solid rgba(168, 172, 201, 0.07);
  padding: 0px 10px;
}
@media (max-width: 920px) {
  .header {
    padding: 25px 0px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 15px 0px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(168, 172, 201, 0.07);
  border-right: 1px solid rgba(168, 172, 201, 0.07);
  position: relative;
}
.header__container::after, .header__container::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: #13141b;
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: 2;
}
@media (max-width: 920px) {
  .header__container::after, .header__container::before {
    display: none;
  }
}
.header__container::before {
  right: -5px;
  bottom: -5px;
  left: auto;
}
.header__name {
  font-family: Goldman, sans-serif;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 767.98px) {
  .header__name {
    font-size: 16px;
    line-height: 16px;
  }
}
.header__nav {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 920px) {
  .header__nav:not(.footer__nav) {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    position: fixed;
    width: 200px;
    top: 100px;
    right: -162px;
    background-color: rgb(19, 20, 27);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .header__nav:not(.footer__nav).open {
    opacity: 1;
    visibility: visible;
    transform: translateX(-170px);
    z-index: 9000;
  }
}
@media (max-width: 767.98px) {
  .header__nav:not(.footer__nav) {
    top: 77px;
  }
}
.header__nav-list {
  display: flex;
  gap: 44px;
}
@media (max-width: 920px) {
  .header__nav-list:not(.footer__nav-list) {
    flex-direction: column;
    gap: 0px;
  }
}
.header__nav-item {
  position: relative;
}
.header__nav-item:not(:first-of-type)::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(168, 172, 201, 0.07);
  position: absolute;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
}
@media (max-width: 920px) {
  .header__nav-item:not(:first-of-type)::after {
    display: none;
  }
}
.header__nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 37px 0px;
  transition: color 0.25s ease;
  color: #8892ac;
  position: relative;
}
.header__nav-link svg {
  fill: currentColor;
}
.header__nav-link:hover {
  color: #ffffff;
}
.header__nav-link--active {
  color: #ffffff;
}
.header__nav-link--active::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 3px;
  background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
  border-radius: 0px 0px 15px 15px;
}
.header__nav-link--active::before {
  content: "";
  display: block;
  position: absolute;
  top: -280px;
  left: -150px;
  width: 400px;
  height: 400px;
  background: url("../../svg/active-blur.svg") no-repeat;
  background-size: 100%;
  pointer-events: none;
}
@media (max-width: 920px) {
  .header__nav-link--active::after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 32px;
    background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
    border-radius: 15px 15px 0px 0px;
  }
  .header__nav-link--active::before {
    display: none;
  }
}
@media (max-width: 920px) {
  .header__nav-link {
    padding: 15px 10px;
  }
}
@media (max-width: 920px) {
  .header .button-wrap {
    margin-left: auto;
    margin-right: 35px;
  }
}
@media (max-width: 767.98px) {
  .header .button-wrap {
    height: 36px;
  }
}
.header .button {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease;
}
.header .button:hover {
  background-color: #d3ebf6;
}
@media (max-width: 767.98px) {
  .header .button {
    height: 34px;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 920px) {
  .hamburger {
    width: 22px;
    height: 30px;
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 1000;
    margin: auto;
    padding: 0 0 0 8px;
  }
  .hamburger:hover * {
    background-color: #000;
  }
  .hamburger--is-active {
    position: absolute;
  }
  .hamburger * {
    transition: all 0.3s ease;
  }
  .hamburger--is-active:hover * {
    background-color: #fff;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger--is-active {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
  transform: rotate(45deg);
}
.hamburger__line {
  height: 1px;
  background-color: #ffffff;
  display: block;
  transition: all 0.2s ease-in-out;
}
.hamburger:hover .hamburger__line, .hamburger--is-active:hover .hamburger__line {
  background: #fff;
}
.hamburger__line:nth-of-type(1) {
  width: 11px;
}
.hamburger__line:nth-of-type(2) {
  width: 14px;
  margin: 4px 0;
}
.hamburger__line:nth-of-type(3) {
  width: 8px;
}
.hamburger--is-active .hamburger__line:nth-child(2) {
  width: 0;
}
.hamburger--is-active .hamburger__line:nth-child(1), .hamburger--is-active .hamburger__line:nth-child(3) {
  transition-delay: 0.2s;
}
.hamburger--is-active .hamburger__line:nth-child(1) {
  width: 20px;
  transform: translateY(5px) translateX(-3px);
}
.hamburger--is-active .hamburger__line:nth-child(3) {
  width: 20px;
  transform: translateY(-5px) translateX(-3px) rotate(90deg);
}

.logo {
  max-width: 128px;
  display: flex;
  align-items: center;
  gap: 18px;
  color: #ffffff;
}
.logo_icon {
  width: 42px;
  height: 42px;
}
@media (max-width: 767.98px) {
  .logo_icon {
    width: 32px;
    height: 32px;
  }
}

.background {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/back-large.png") no-repeat;
  background-size: 100%;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .background {
    top: 67px;
    background: url("../../img/back.png") no-repeat;
    background-size: 100%;
  }
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 25px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  position: relative;
}
.hero__container::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 30px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../svg/left-cube.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 2;
  animation: flying-part 4s infinite;
}
@media screen and (max-width: 860px) {
  .hero__container::after {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767.98px) {
  .hero__container::after {
    display: none;
  }
}
.hero__container::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../svg/right-cube.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 2;
  animation: flying-part 4s infinite;
}
@media screen and (max-width: 860px) {
  .hero__container::before {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 767.98px) {
  .hero__container::before {
    display: none;
  }
}
.hero__name {
  width: 419px;
  height: 171px;
  margin-bottom: 52px;
}
@media (max-width: 920px) {
  .hero__name {
    width: 400px;
    height: 150px;
  }
}
@media (max-width: 767.98px) {
  .hero__name {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100px;
    margin-bottom: 32px;
  }
}
.hero__telegram {
  padding: 17px 50px;
  background-color: rgb(19, 20, 27);
  border: 1px solid rgba(168, 172, 201, 0.07);
  box-shadow: 0px 4px 0px 0px rgba(9, 10, 13, 0.3);
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero__telegram svg {
  fill: #50faeb;
}
@media (max-width: 767.98px) {
  .hero__telegram {
    padding: 17px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero__link {
  color: #50faeb;
}
.hero__right {
  position: absolute;
  z-index: 1;
  top: -65px;
  right: -285px;
  animation: flying 5s infinite;
}
@media screen and (max-width: 1150px) {
  .hero__right {
    width: 400px;
    height: 400px;
    top: -45px;
    right: -118px;
    z-index: 0;
  }
}
@media screen and (max-width: 860px) {
  .hero__right {
    width: 300px;
    height: 300px;
    top: -25px;
  }
}
@media (max-width: 767.98px) {
  .hero__right {
    display: none;
  }
}
.hero__left {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 0px;
  animation: flying 5s infinite;
}
@media screen and (max-width: 1150px) {
  .hero__left {
    left: -50px;
  }
}
@media screen and (max-width: 1150px) {
  .hero__left {
    left: -100px;
  }
}
@media screen and (max-width: 860px) {
  .hero__left {
    width: 250px;
    height: 250px;
    top: -25px;
    left: -40px;
    z-index: 0;
  }
}
@media (max-width: 767.98px) {
  .hero__left {
    display: none;
  }
}

@keyframes flying {
  0% {
    transform: translate(0%, 0%) perspective(700px) translateY(0%) rotateY(0deg);
  }
  50% {
    transform: perspective(800px) translateY(-10px) rotateY(20deg);
  }
  100% {
    transform: translate(0%, 0%) perspective(700px) translateY(0%) rotateY(0deg);
  }
}
@keyframes flying-part {
  0% {
    transform: translateY(0%) scale(1);
  }
  50% {
    transform: translateY(10px) scale(1.1);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
.benefits {
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba(168, 172, 201, 0.07);
  border-bottom: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgba(19, 20, 27, 0.6);
}
.benefits__container {
  display: flex;
  width: 100%;
}
@media (max-width: 767.98px) {
  .benefits__container {
    flex-direction: column;
  }
}
.benefits__item {
  width: 33.33%;
  flex-shrink: 1;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-left: 1px solid rgba(168, 172, 201, 0.07);
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767.98px) {
  .benefits__item {
    width: 100%;
    border-right: 1px solid rgba(168, 172, 201, 0.07);
  }
}
.benefits__item:last-of-type {
  border-right: 1px solid rgba(168, 172, 201, 0.07);
}
.benefits__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 767.98px) {
  .benefits__item span {
    max-width: 100%;
  }
}
.benefits__item:nth-child(1)::after {
  background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
}
.benefits__item:nth-child(1) span:nth-child(3) {
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(1) span:nth-child(4) {
  position: absolute;
  bottom: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(1) span:nth-child(5) {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(1) span:nth-child(6) {
  position: absolute;
  bottom: -5px;
  right: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(2)::after {
  background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
}
.benefits__item:nth-child(2) span:nth-child(3) {
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(2) span:nth-child(4) {
  position: absolute;
  bottom: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(2) .benefits__item_wrap::after {
  background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
}
.benefits__item:nth-child(2) .benefits__item_wrap::before {
  background: url("../../svg/pink-blur.svg") no-repeat;
  background-size: 100%;
}
.benefits__item:nth-child(3)::after {
  background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
}
.benefits__item:nth-child(3) span:nth-child(3) {
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(3) span:nth-child(4) {
  position: absolute;
  bottom: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(3) span:nth-child(5) {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(3) span:nth-child(6) {
  position: absolute;
  bottom: -5px;
  right: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
.benefits__item:nth-child(3) .benefits__item_wrap::after {
  background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
}
.benefits__item:nth-child(3) .benefits__item_wrap::before {
  background: url("../../svg/orange-blur.svg") no-repeat;
  background-size: 100%;
}
.benefits__item_wrap {
  position: relative;
  overflow: hidden;
  min-width: 50px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(168, 172, 201, 0.07);
}
.benefits__item_wrap svg {
  fill: currentColor;
}
.benefits__item_wrap::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
  border-radius: 0px 0px 15px 15px;
}
.benefits__item_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -24px;
  width: 100px;
  height: 100px;
  background: url("../../svg/active-blur.svg") no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.games {
  padding: 17px 0px 80px 0px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .games {
    padding-bottom: 40px;
  }
}
.games__head {
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}
.games__head_title {
  width: 60%;
  padding: 15.5px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: url("../../img/acc-bg.png") no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 767.98px) {
  .games__head_title {
    width: 100%;
  }
}
.games__head_decor {
  display: block;
  width: 40%;
  background: url("../../img/decor.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 0px 6px 6px 0px;
}
@media (max-width: 767.98px) {
  .games__head_decor {
    display: none;
  }
}
.games__name {
  color: #ffffff;
}
.games__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.games__game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  box-sizing: border-box;
  background-color: #2d323f;
  border-radius: 8px;
}
@media (max-width: 980px) {
  .games__game {
    flex-direction: column;
    gap: 10px;
  }
}
.games__info-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}
@media (max-width: 767.98px) {
  .games__info-wrap {
    justify-content: flex-start;
    width: 100%;
  }
}
.games__icon {
  width: 24px;
  height: 24px;
}

.data-games {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .data-games {
    justify-content: space-between;
    width: 100%;
  }
}
.data-games__mobile-wrap {
  display: flex;
}
@media (max-width: 767.98px) {
  .data-games__mobile-wrap {
    flex-direction: column;
    gap: 10px;
  }
}
.data-games__count {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  min-width: 150px;
}
@media (max-width: 767.98px) {
  .data-games__count {
    margin-right: 10px;
  }
}
.data-games__count_title {
  color: #8892ac;
}
.data-games__count_data {
  padding: 7px 8px;
  border-radius: 500px;
  background-color: rgb(19, 20, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-games__price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
  min-width: 160px;
}
@media (max-width: 767.98px) {
  .data-games__price {
    margin-right: 10px;
  }
}
.data-games__price_title {
  color: #8892ac;
}
.data-games__price_data {
  padding: 7px 8px;
  border-radius: 500px;
  background-color: rgb(19, 20, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-games__price_data span {
  margin-right: 5px;
  color: #50faeb;
}
.data-games .button-wrap {
  height: 34px;
}
.data-games .button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
}

.footer {
  background: url("../../img/footer-bg.png") no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 920px) {
  .footer {
    background: none;
  }
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 50px;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid rgba(168, 172, 201, 0.07);
  border-right: 1px solid rgba(168, 172, 201, 0.07);
  background-color: #13141b;
}
@media screen and (max-width: 1000px) {
  .footer__container {
    padding: 20px 25px;
  }
}
.footer__container::after, .footer__container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgb(19, 20, 27);
}
@media (max-width: 767.98px) {
  .footer__container::after, .footer__container::before {
    display: none;
  }
}
.footer__container::before {
  left: auto;
  right: -5px;
}
.footer__decor {
  height: 1px;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.footer .part {
  flex: 1;
  display: block;
}
.footer .part1 {
  background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
}
.footer .part2 {
  background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
}
.footer .part3 {
  background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
}
.footer__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.footer .footer-logo {
  margin-right: auto;
  padding-right: 20px;
}
.footer__nav {
  margin-right: 0;
  margin-left: 0;
  height: 42px;
}
.footer__nav .header__nav-link--active::after, .footer__nav .header__nav-link--active::before {
  display: none;
}
.footer__nav .header__nav-link {
  padding: 13px 0px;
}
@media screen and (max-width: 1000px) {
  .footer__nav .header__nav-link {
    padding: 10px 0px;
  }
}
@media (max-width: 920px) {
  .footer__nav {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .footer__nav-list {
    gap: 10px;
  }
  .footer__nav-list .header__nav-item::after {
    display: none;
  }
}
@media (max-width: 920px) {
  .footer__nav-list {
    flex-direction: column;
    height: auto;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid rgba(168, 172, 201, 0.07);
}
@media (max-width: 920px) {
  .footer__bottom {
    flex-wrap: wrap;
    gap: 15px;
  }
}
.footer__rights {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 34px;
}
@media (max-width: 920px) {
  .footer__rights {
    width: 100%;
  }
}
.footer__rights_date {
  color: #8892ac;
}
.footer__rights_text {
  color: #8892ac;
  position: relative;
}
.footer__rights_text::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(168, 172, 201, 0.07);
}
.footer__offers {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 34px;
}
@media (max-width: 920px) {
  .footer__offers {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .footer__offers {
    gap: 15px;
  }
}
.footer__offers_public {
  color: #8892ac;
}
.footer__offers_agree {
  color: #8892ac;
  position: relative;
}
.footer__offers_agree::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(168, 172, 201, 0.07);
}
@media (max-width: 767.98px) {
  .footer__offers_agree::before {
    display: none;
  }
}
.footer__socials {
  display: flex;
  gap: 10px;
}
.footer__socials_icon-wrap {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  color: #ffffff;
  border: 1px solid rgba(168, 172, 201, 0.07);
}
.footer__socials_icon-wrap svg {
  fill: currentColor;
}
.footer__socials_icon-wrap::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 3px;
  background: #50faeb;
  border-radius: 0px 0px 15px 15px;
}
@media (max-width: 767.98px) {
  .footer__socials {
    position: absolute;
    top: 90px;
    left: 25px;
  }
}

.terms {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
@media (max-width: 767.98px) {
  .terms {
    padding-top: 24px;
  }
}
.terms .terms__list {
  list-style: none;
  padding: 0;
}
.terms__item {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .terms__item {
    margin-bottom: 20px;
  }
}
.terms__item::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #50faeb;
  margin-right: 5px;
}
.terms__list {
  counter-reset: item;
}
.terms .sublist {
  list-style: none;
  padding: 0;
  counter-reset: subitem;
  margin-top: 35px;
}
@media (max-width: 767.98px) {
  .terms .sublist {
    margin-top: 15px;
  }
}
.terms .sublist li {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.terms .sublist li::before {
  content: counter(item) "." counter(subitem) " ";
  counter-increment: subitem;
  color: #50faeb;
  margin-right: 4px;
}

.contacts {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
@media (max-width: 767.98px) {
  .contacts {
    padding-top: 24px;
  }
}
.contacts__wrap {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .contacts__wrap {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}
.contacts__form {
  padding: 30px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background: rgb(19, 20, 27);
  width: calc(50% - 20px);
}
@media (max-width: 767.98px) {
  .contacts__form {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
}
.contacts__form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 0;
  margin-bottom: 35px;
}
@media (max-width: 767.98px) {
  .contacts__form-title {
    margin-bottom: 20px;
  }
}
.contacts__form-list {
  counter-reset: item;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .contacts__form-list {
    margin-bottom: 20px;
  }
}
.contacts__form-item {
  line-height: 25px;
}
.contacts__form-item::before {
  content: counter(item) ". ";
  counter-increment: item;
  margin-right: 5px;
}
.contacts__form .button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.contacts__schedule {
  padding: 30px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background: rgb(19, 20, 27);
  width: calc(50% - 20px);
}
@media (max-width: 767.98px) {
  .contacts__schedule {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
}
.contacts__schedule .contacts__form-title svg {
  fill: #50faeb;
}
.contacts__schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__schedule-item:not(:last-of-type) {
  margin-bottom: 3px;
}
.contacts__schedule .day-name {
  color: #ffffff;
  line-height: 25px;
}
.contacts__schedule .time {
  color: #50faeb;
}
.contacts__schedule .time.free-schedule {
  color: #8892ac;
}
.contacts__schedule .dotted-line {
  flex-grow: 1;
  margin: 0 30px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(168, 172, 201, 0.07) 50%, transparent 50%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.contacts__telegram {
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  color: #50faeb;
  border: 1px solid #50faeb;
  background: linear-gradient(180deg, rgba(80, 250, 235, 0) 20%, rgba(80, 250, 235, 0.1) 100%);
  margin-bottom: 240px;
}
.contacts__telegram svg {
  fill: currentColor;
}
@media (max-width: 920px) {
  .contacts__telegram {
    margin-bottom: 140px;
  }
}
@media (max-width: 767.98px) {
  .contacts__telegram {
    padding: 10px;
    margin-bottom: 70px;
  }
}
.contacts__telegram_text {
  color: #ffffff;
  text-align: center;
  line-height: 16px;
}
.contacts__telegram_text span {
  color: #50faeb;
}
.contacts__telegram_link {
  color: #50faeb;
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 20, 27, 0.6);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) perspective(500px) translateY(-100%) rotateX(45deg);
}

.modal {
  max-width: 484px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(500px) translateY(0%) rotateX(0deg);
  margin: 0;
  background: rgba(19, 20, 27, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) perspective(500px) translateY(0%) rotateX(0deg);
  transition: transform 500ms ease;
  box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .modal {
    padding: 20px;
    min-width: 320px;
    max-width: 480px;
    width: calc(100% - 40px);
    height: auto;
  }
}
.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}
.modal__text {
  margin-bottom: 30px;
  font-weight: 400;
  color: #8892ac;
}
.modal .input-container {
  position: relative;
  margin-bottom: 25px;
}
.modal .input-container.last {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .modal .input-container.last {
    margin-bottom: 25px;
  }
}
.modal .form-input {
  width: 100%;
  padding: 17px 17px 20px 17px;
  border: 1px solid rgba(168, 172, 201, 0.07);
  background-color: #15161e;
  color: #ffffff;
  border-radius: 10px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}
.modal .form-input::-moz-placeholder {
  font-weight: 400;
  color: rgba(168, 172, 201, 0.14);
}
.modal .form-input::placeholder {
  font-weight: 400;
  color: rgba(168, 172, 201, 0.14);
}
.modal .form-input:focus {
  outline: none;
  border: 1px solid #50faeb;
}
.modal .form-label {
  position: absolute;
  top: -7px;
  left: 12px;
  background: #15161e;
  padding: 0 10px;
  color: #8892ac;
  font-size: 12px;
  text-transform: uppercase;
}
.modal__sub-title {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 40;
}
.modal__select-wrap {
  height: 50px;
  width: 100%;
  position: relative;
}
.modal__link {
  color: #50faeb;
}
.modal .policy {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 7px;
  color: #8892ac;
  padding-left: 12px;
  position: relative;
}
@media (max-width: 767.98px) {
  .modal .policy {
    flex-wrap: wrap;
  }
}
.modal .policy__checkbox {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: 20px;
  transform: translate(-50%, -50%);
}
.modal .policy__checkbox:checked {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal .policy__checkbox:checked + .policy__icon span {
  background-color: #50faeb;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
.modal .policy__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid #50faeb;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.modal__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__actions_sum {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__actions_to-payment {
  color: #8892ac;
}
.modal__actions_amount {
  font-weight: 500;
  font-size: 20px;
}
.modal__actions_amount span {
  color: #50faeb;
}
.modal__actions .button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal .close-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
.modal .close-button svg {
  fill: #ffffff;
}
@media (max-width: 767.98px) {
  .modal .close-button {
    top: 15px;
    right: 15px;
  }
}
.modal__decor {
  height: 1px;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.modal .part {
  flex: 1;
  display: block;
}
.modal .part1 {
  background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
}
.modal .part2 {
  background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
}
.modal .part3 {
  background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
}

.custom-select {
  background: #0f1016;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-size: 14px;
  color: #ffffff;
  height: 50px;
  padding: 0 17px 0 17px;
  line-height: 48px;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: background 0.3s, color 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 100;
  margin-bottom: 25px;
}
.custom-select:hover {
  background: #0c0c12;
}
.custom-select:hover + .modal__select-thumb {
  background: #0c0c12;
}
.custom-select.open .modal__select-thumb .modal__select-check {
  transform: rotate(-180deg);
  top: 18px;
}
.custom-select .modal__select-thumb {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #0f1016;
  border-radius: 10px;
  z-index: 999;
  transition: background 0.3s;
}
.custom-select .modal__select-check {
  width: 16px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  fill: #50faeb;
  z-index: 999;
}

.custom-options {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #0f1016;
  border-radius: 10px;
  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.custom-select.open .custom-options {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.custom-option {
  padding: 0px 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-option:hover,
.custom-option:active,
.custom-option.custom-select.open {
  background-color: #15161e;
  color: white;
}/*# sourceMappingURL=main.css.map */