.benefits {
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba(168, 172, 201, 0.07);
  border-bottom: 1px solid rgba(168, 172, 201, 0.07);
  background-color: rgba(19, 20, 27, 0.6);

  &__container {
    display: flex;
    width: 100%;
    @include for-tablet {
      flex-direction: column;
    }
  }
  &__item {
    width: 33.33%;
    flex-shrink: 1;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-left: 1px solid rgba(168, 172, 201, 0.07);
    box-sizing: border-box;
    position: relative;

    @include for-tablet {
      width: 100%;
      border-right: 1px solid rgba(168, 172, 201, 0.07);
    }

    &:last-of-type {
      border-right: 1px solid rgba(168, 172, 201, 0.07);
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    span {
      @include for-tablet {
        max-width: 100%;
      }
    }

    &:nth-child(1) {
      &::after {
        background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
      }
      span {
        &:nth-child(3) {
          position: absolute;
          top: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(4) {
          position: absolute;
          bottom: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(5) {
          position: absolute;
          top: -5px;
          right: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(6) {
          position: absolute;
          bottom: -5px;
          right: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
      }
    }
    &:nth-child(2) {
      &::after {
        background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
      }
      span {
        &:nth-child(3) {
          position: absolute;
          top: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(4) {
          position: absolute;
          bottom: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
      }
      .benefits__item_wrap {
        &::after {
          background: linear-gradient(
            113.36deg,
            #d783ff 18.57%,
            #793aff 86.67%
          );
        }
        &::before {
          background: url('../../svg/pink-blur.svg') no-repeat;
          background-size: 100%;
        }
      }
    }
    &:nth-child(3) {
      &::after {
        background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
      }
      span {
        &:nth-child(3) {
          position: absolute;
          top: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(4) {
          position: absolute;
          bottom: -5px;
          left: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(5) {
          position: absolute;
          top: -5px;
          right: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
        &:nth-child(6) {
          position: absolute;
          bottom: -5px;
          right: -5px;
          display: block;
          width: 7px;
          height: 7px;
          z-index: 1;
          border-radius: 2px;
          border: 1px solid rgba(168, 172, 201, 0.07);
          background-color: rgb(19, 20, 27);
        }
      }
      .benefits__item_wrap {
        &::after {
          background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
        }
        &::before {
          background: url('../../svg/orange-blur.svg') no-repeat;
          background-size: 100%;
        }
      }
    }
    &_wrap {
      position: relative;
      overflow: hidden;
      min-width: 50px;
      height: 50px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: 1px solid rgba(168, 172, 201, 0.07);
      svg {
        fill: currentColor;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 3px;

        background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);

        border-radius: 0px 0px 15px 15px;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        left: -24px;
        width: 100px;
        height: 100px;
        background: url('../../svg/active-blur.svg') no-repeat;
        background-size: 100%;
        pointer-events: none;
      }
    }
  }
}
