.contacts {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  @include for-tablet {
    padding-top: 24px;
  }

  // .contacts__wrap
  &__wrap {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    @include for-tablet {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
  // .contacts__form
  &__form {
    padding: 30px;
    border: 1px solid rgba(168, 172, 201, 0.07);
    background: rgb(19, 20, 27);
    width: calc(50% - 20px);
    @include for-tablet {
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 0;
      margin-bottom: 35px;
      @include for-tablet {
        margin-bottom: 20px;
      }
    }
    &-list {
      counter-reset: item;
      margin-bottom: 40px;
      @include for-tablet {
        margin-bottom: 20px;
      }
    }
    &-item {
      line-height: 25px;
      &::before {
        content: counter(item) '. ';
        counter-increment: item;
        margin-right: 5px;
      }
    }

    .button {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
    }
  }
  // .contacts__schedule
  &__schedule {
    padding: 30px;
    border: 1px solid rgba(168, 172, 201, 0.07);
    background: rgb(19, 20, 27);
    width: calc(50% - 20px);
    @include for-tablet {
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
    }
    .contacts__form-title {
      svg {
        fill: $accent;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 3px;
      }
    }

    .day-name {
      color: $white;
      line-height: 25px;
    }

    .time {
      color: $accent;
    }

    .time.free-schedule {
      color: $gray;
    }

    .dotted-line {
      flex-grow: 1;
      margin: 0 30px;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(168, 172, 201, 0.07) 50%,
        transparent 50%
      );
      background-size: 10px 1px;
      background-repeat: repeat-x;
    }
  }

  // .contacts__telegram
  &__telegram {
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    color: $accent;
    border: 1px solid $accent;
    background: linear-gradient(
      180deg,
      rgba(80, 250, 235, 0) 20%,
      rgba(80, 250, 235, 0.1) 100%
    );
    margin-bottom: 240px;
    svg {
      fill: currentColor;
    }

    @include for-tablet-up {
      margin-bottom: 140px;
    }

    @include for-tablet {
      padding: 10px;
      margin-bottom: 70px;
    }
    // .contacts__telegram_text
    &_text {
      color: $white;
      text-align: center;
      line-height: 16px;
      span {
        color: $accent;
      }
    }
    // .contacts__telegram_link
    &_link {
      color: $accent;
      font-weight: 500;
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
