.footer {
  background: url('../../img/footer-bg.png') no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1;
  @include for-tablet-up {
    background: none;
  }
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid rgba(168, 172, 201, 0.07);
    border-right: 1px solid rgba(168, 172, 201, 0.07);
    background-color: #13141b;
    @media screen and (max-width: 1000px) {
      padding: 20px 25px;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      display: block;
      width: 7px;
      height: 7px;
      z-index: 1;
      border-radius: 2px;
      border: 1px solid rgba(168, 172, 201, 0.07);
      background-color: rgb(19, 20, 27);
      @include for-tablet {
        display: none;
      }
    }
    &::before {
      left: auto;
      right: -5px;
    }
  }
  &__decor {
    height: 1px;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .part {
    flex: 1;
    display: block;
  }
  .part1 {
    background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
  }

  .part2 {
    background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
  }

  .part3 {
    background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
  }

  &__head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .footer-logo {
    margin-right: auto;
    padding-right: 20px;
  }
  &__nav {
    margin-right: 0;
    margin-left: 0;
    height: 42px;
    .header__nav-link--active {
      &::after,
      &::before {
        display: none;
      }
    }
    .header__nav-link {
      padding: 13px 0px;
      @media screen and (max-width: 1000px) {
        padding: 10px 0px;
      }
    }
    @include for-tablet-up {
      height: auto;
    }
  }
  &__nav-list {
    @media screen and (max-width: 1000px) {
      gap: 10px;
      .header__nav-item::after {
        display: none;
      }
    }
    @include for-tablet-up {
      flex-direction: column;
      height: auto;
    }
  }

  // .footer__bottom
  &__bottom {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(168, 172, 201, 0.07);
    @include for-tablet-up {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  // .footer__rights
  &__rights {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 34px;
    @include for-tablet-up {
      width: 100%;
    }
    // .footer__rights_date
    &_date {
      color: $gray;
    }
    // .footer__rights_text
    &_text {
      color: $gray;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: -19px;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(168, 172, 201, 0.07);
      }
    }
  }
  // .footer__offers
  &__offers {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 34px;
    @include for-tablet-up {
      flex-wrap: wrap;
    }
    @include for-tablet {
      gap: 15px;
    }
    // .footer__offers_public
    &_public {
      color: $gray;
    }
    // .footer__offers_agree
    &_agree {
      color: $gray;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: -19px;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(168, 172, 201, 0.07);
      }
      @include for-tablet {
        &::before {
          display: none;
        }
      }
    }
  }
  // .footer__socials
  &__socials {
    display: flex;
    gap: 10px;
    // .footer__socials_icon-wrap
    &_icon-wrap {
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 30px;
      height: 30px;
      color: $white;
      border: 1px solid rgba(168, 172, 201, 0.07);
      svg {
        fill: currentColor;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 3px;
        background: $accent;
        border-radius: 0px 0px 15px 15px;
      }
    }

    @include for-tablet {
      position: absolute;
      top: 90px;
      left: 25px;
    }
  }
}
