.games {
  padding: 17px 0px 80px 0px;
  position: relative;
  z-index: 1;
  @include for-tablet {
    padding-bottom: 40px;
  }
  &__head {
    display: flex;
    margin-bottom: 15px;
    margin-top: 30px;
    &_title {
      width: 60%;
      padding: 15.5px 10px;
      text-align: center;

      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      background: url('../../img/acc-bg.png') no-repeat;
      background-size: 100% 100%;
      @include for-tablet {
        width: 100%;
      }
    }
    &_decor {
      display: block;
      width: 40%;
      background: url('../../img/decor.png') no-repeat;
      background-size: 100% 100%;
      border-radius: 0px 6px 6px 0px;
      @include for-tablet {
        display: none;
      }
    }
  }
  &__name {
    color: $white;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    box-sizing: border-box;
    background-color: #2d323f;
    border-radius: 8px;
    @include for-tablet-upper-up {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__info-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
    @include for-tablet {
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
  }
}

.data-games {
  display: flex;
  align-items: center;

  @include for-tablet {
    justify-content: space-between;
    width: 100%;
  }

  &__mobile-wrap {
    display: flex;
    @include for-tablet {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    min-width: 150px;

    @include for-tablet {
      margin-right: 10px;
    }
    &_title {
      color: $gray;
    }
    &_data {
      padding: 7px 8px;
      border-radius: 500px;
      background-color: rgb(19, 20, 27);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    min-width: 160px;
    @include for-tablet {
      margin-right: 10px;
    }
    &_title {
      color: $gray;
    }
    &_data {
      padding: 7px 8px;
      border-radius: 500px;
      background-color: rgb(19, 20, 27);
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-right: 5px;
        color: $accent;
      }
    }
  }
  .button-wrap {
    height: 34px;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 33px;
  }
}
