.header {
  background-color: rgba(19, 20, 27, 0.6);
  border-bottom: 1px solid rgba(168, 172, 201, 0.07);
  padding: 0px 10px;
  @include for-tablet-up {
    padding: 25px 0px;
  }
  @include for-tablet {
    padding: 15px 0px;
  }
  &__container {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(168, 172, 201, 0.07);
    border-right: 1px solid rgba(168, 172, 201, 0.07);
    position: relative;
    &::after,
    &::before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 2px;
      border: 1px solid rgba(168, 172, 201, 0.07);
      background-color: #13141b;
      position: absolute;
      left: -5px;
      bottom: -5px;
      z-index: 2;
      @include for-tablet-up {
        display: none;
      }
    }
    &::before {
      right: -5px;
      bottom: -5px;
      left: auto;
    }
  }

  &__name {
    font-family: Goldman, sans-serif;
    font-size: 20px;
    line-height: 20px;
    @include for-tablet {
      font-size: 16px;
      line-height: 16px;
    }
  }
  &__nav {
    margin-right: auto;
    margin-left: auto;

    @include for-tablet-up {
      &:not(.footer__nav) {
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
        position: fixed;
        width: 200px;
        top: 100px;
        right: -162px;
        background-color: rgb(19, 20, 27);
        padding: 10px;
        border-radius: 10px;
        z-index: 2;
        &.open {
          opacity: 1;
          visibility: visible;
          transform: translateX(-170px);
          z-index: 9000;
        }
      }
    }
    @include for-tablet {
      &:not(.footer__nav) {
        top: 77px;
      }
    }
  }
  &__nav-list {
    display: flex;
    gap: 44px;
    @include for-tablet-up {
      &:not(.footer__nav-list) {
        flex-direction: column;
        gap: 0px;
      }
    }
  }

  &__nav-item {
    position: relative;
    &:not(:first-of-type) {
      &::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(168, 172, 201, 0.07);
        position: absolute;
        top: 50%;
        left: -23px;
        transform: translateY(-50%);
      }
      @include for-tablet-up {
        &::after {
          display: none;
        }
      }
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 37px 0px;
    transition: color 0.25s ease;
    color: $gray;
    position: relative;
    svg {
      fill: currentColor;
    }
    &:hover {
      color: $white;
    }

    &--active {
      color: $white;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 32px;
        height: 3px;
        background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
        border-radius: 0px 0px 15px 15px;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -280px;
        left: -150px;
        width: 400px;
        height: 400px;
        background: url('../../svg/active-blur.svg') no-repeat;
        background-size: 100%;
        pointer-events: none;
      }
      @include for-tablet-up {
        &::after {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 2px;
          height: 32px;
          background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
          border-radius: 15px 15px 0px 0px;
        }
        &::before {
          display: none;
        }
      }
    }

    @include for-tablet-up {
      padding: 15px 10px;
    }
  }

  .button-wrap {
    @include for-tablet-up {
      margin-left: auto;
      margin-right: 35px;
    }
    @include for-tablet {
      height: 36px;
    }
  }

  .button {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.25s ease;
    &:hover {
      background-color: #d3ebf6;
    }
    @include for-tablet {
      height: 34px;
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;

  @include for-tablet-up {
    width: 22px;
    height: 30px;
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 1000;
    margin: auto;
    padding: 0 0 0 8px;

    &:hover * {
      background-color: #000;
    }

    &--is-active {
      position: absolute;
    }

    & * {
      transition: all 0.3s ease;
    }

    &--is-active:hover * {
      background-color: #fff;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &--is-active {
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
    transform: rotate(45deg);
  }

  &__line {
    height: 1px;
    background-color: $white;
    display: block;
    transition: all 0.2s ease-in-out;

    .hamburger:hover &,
    .hamburger--is-active:hover & {
      background: #fff;
    }

    &:nth-of-type(1) {
      width: 11px;
    }

    &:nth-of-type(2) {
      width: 14px;
      margin: 4px 0;
    }

    &:nth-of-type(3) {
      width: 8px;
    }

    .hamburger--is-active &:nth-child(2) {
      width: 0;
    }

    .hamburger--is-active &:nth-child(1),
    .hamburger--is-active &:nth-child(3) {
      transition-delay: 0.2s;
    }

    .hamburger--is-active &:nth-child(1) {
      width: 20px;
      transform: translateY(5px) translateX(-3px);
    }

    .hamburger--is-active &:nth-child(3) {
      width: 20px;
      transform: translateY(-5px) translateX(-3px) rotate(90deg);
    }
  }
}

.logo {
  max-width: 128px;
  display: flex;
  align-items: center;
  gap: 18px;
  color: $white;

  &_icon {
    width: 42px;
    height: 42px;
    @include for-tablet {
      width: 32px;
      height: 32px;
    }
  }
}
