.background {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../img/back-large.png') no-repeat;
  background-size: 100%;
  z-index: 1;
  @include for-tablet {
    top: 67px;
    background: url('../../img/back.png') no-repeat;
    background-size: 100%;
  }
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 25px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 30%;
      left: 30px;
      display: block;
      width: 50px;
      height: 50px;
      background: url('../../svg/left-cube.svg') no-repeat;
      background-size: 100%;
      background-position: center;
      z-index: 2;
      animation: flying-part 4s infinite;
      @media screen and (max-width: 860px) {
        width: 30px;
        height: 30px;
      }
      @include for-tablet {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: 15px;
      display: block;
      width: 20px;
      height: 20px;
      background: url('../../svg/right-cube.svg') no-repeat;
      background-size: 100%;
      background-position: center;
      z-index: 2;
      animation: flying-part 4s infinite;
      @media screen and (max-width: 860px) {
        width: 15px;
        height: 15px;
      }
      @include for-tablet {
        display: none;
      }
    }
  }
  &__name {
    width: 419px;
    height: 171px;
    margin-bottom: 52px;
    @include for-tablet-up {
      width: 400px;
      height: 150px;
    }
    @include for-tablet {
      position: relative;
      z-index: 1;
      width: 250px;
      height: 100px;
      margin-bottom: 32px;
    }
  }
  &__telegram {
    padding: 17px 50px;
    background-color: rgb(19, 20, 27);
    border: 1px solid rgba(168, 172, 201, 0.07);
    box-shadow: 0px 4px 0px 0px rgba(9, 10, 13, 0.3);
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      fill: $accent;
    }
    @include for-tablet {
      padding: 17px 20px;

      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__link {
    color: $accent;
  }
  &__right {
    position: absolute;
    z-index: 1;
    top: -65px;
    right: -285px;
    animation: flying 5s infinite;
    @media screen and (max-width: 1150px) {
      width: 400px;
      height: 400px;
      top: -45px;
      right: -118px;
      z-index: 0;
    }
    @media screen and (max-width: 860px) {
      width: 300px;
      height: 300px;
      top: -25px;
    }
    @include for-tablet {
      display: none;
    }
  }
  &__left {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 0px;
    animation: flying 5s infinite;
    @media screen and (max-width: 1150px) {
      left: -50px;
    }
    @media screen and (max-width: 1150px) {
      left: -100px;
    }
    @media screen and (max-width: 860px) {
      width: 250px;
      height: 250px;
      top: -25px;
      left: -40px;
      z-index: 0;
    }
    @include for-tablet {
      display: none;
    }
  }
}

@keyframes flying {
  0% {
    transform: translate(0%, 0%) perspective(700px) translateY(0%) rotateY(0deg);
  }
  50% {
    transform: perspective(800px) translateY(-10px) rotateY(20deg);
  }
  100% {
    transform: translate(0%, 0%) perspective(700px) translateY(0%) rotateY(0deg);
  }
}

@keyframes flying-part {
  0% {
    transform: translateY(0%) scale(1);
  }
  50% {
    transform: translateY(10px) scale(1.1);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
