.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 20, 27, 0.6);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) perspective(500px) translateY(-100%)
        rotateX(45deg);
    }
  }
}

.modal {
  max-width: 484px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(500px) translateY(0%)
    rotateX(0deg);
  margin: 0;
  background: rgba(19, 20, 27, 0.6);
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) perspective(500px) translateY(0%)
    rotateX(0deg);
  transition: transform 500ms ease;
  box-sizing: border-box;

  @include for-tablet {
    padding: 20px;

    min-width: 320px;
    max-width: 480px;
    width: calc(100% - 40px);
    height: auto;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $white;
    margin-top: 0;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 30px;
    font-weight: 400;
    color: $gray;
  }
  .input-container {
    position: relative;
    margin-bottom: 25px;
    &.last {
      margin-bottom: 40px;
      @include for-tablet {
        margin-bottom: 25px;
      }
    }
  }
  .form-input {
    width: 100%;
    padding: 17px 17px 20px 17px;
    border: 1px solid rgba(168, 172, 201, 0.07);
    background-color: #15161e;
    color: $white;
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    &::placeholder {
      font-weight: 400;
      color: rgba(168, 172, 201, 0.14);
    }
    &:focus {
      outline: none;
      border: 1px solid $accent;
    }
  }

  .form-label {
    position: absolute;
    top: -7px;
    left: 12px;
    background: #15161e;
    padding: 0 10px;
    color: $gray;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__sub-title {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 40;
  }
  &__select-wrap {
    height: 50px;
    width: 100%;
    position: relative;
  }

  &__link {
    color: $accent;
  }

  .policy {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 7px;
    color: $gray;
    padding-left: 12px;
    position: relative;

    @include for-tablet {
      flex-wrap: wrap;
    }
  }
  .policy__checkbox {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 20px;
    transform: translate(-50%, -50%);

    &:checked {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    &:checked + .policy__icon span {
      background-color: $accent;
      width: 8px;
      height: 8px;
      border-radius: 2px;
    }
  }

  .policy__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 2px;
    border: 1px solid $accent;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }

  // .modal__actions
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .modal__actions_sum
    &_sum {
      max-width: 120px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    // .modal__actions_to-payment
    &_to-payment {
      color: $gray;
    }
    // .modal__actions_amount
    &_amount {
      font-weight: 500;
      font-size: 20px;
      span {
        color: $accent;
      }
    }
    .button {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .close-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 30px;
    svg {
      fill: $white;
    }
    @include for-tablet {
      top: 15px;
      right: 15px;
    }
  }

  &__decor {
    height: 1px;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .part {
    flex: 1;
    display: block;
  }
  .part1 {
    background: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
  }

  .part2 {
    background: linear-gradient(113.36deg, #d783ff 18.57%, #793aff 86.67%);
  }

  .part3 {
    background: linear-gradient(90deg, #ff6534 0%, #ffe352 100%);
  }
}

.custom-select {
  background: #0f1016;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-size: 14px;
  color: $white;
  height: 50px;
  padding: 0 17px 0 17px;
  line-height: 48px;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: background 0.3s, color 0.3s;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 100;
  margin-bottom: 25px;
  &:hover {
    background: #0c0c12;

    & + .modal__select-thumb {
      background: #0c0c12;
    }
  }
  &.open {
    @extend :active;

    .modal__select-thumb .modal__select-check {
      transform: rotate(-180deg);
      top: 18px;
    }
  }

  .modal__select-thumb {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #0f1016;
    border-radius: 10px;
    z-index: 999;
    transition: background 0.3s;
  }
  .modal__select-check {
    width: 16px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    fill: $accent;
    z-index: 999;
  }
}

.custom-options {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #0f1016;
  border-radius: 10px;
  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.custom-select.open .custom-options {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.custom-option {
  padding: 0px 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-option:hover,
.custom-option:active {
  background-color: #15161e;
  color: white;
}
