.terms {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  @include for-tablet {
    padding-top: 24px;
  }



  .terms__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    color: white;
    margin-bottom: 50px;  
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;

    @include for-tablet {
      margin-bottom: 20px;
    }
  }

  &__item::before {
    content: counter(item) '. ';
    counter-increment: item;
    color: #50faeb;
    margin-right: 5px;
  }

  &__list {
    counter-reset: item;
  }

  .sublist {
    list-style: none;
    padding: 0;
    counter-reset: subitem;
    margin-top: 35px;

    @include for-tablet {
      margin-top: 15px;
    }
  }

  .sublist li {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }

  .sublist li::before {
    content: counter(item) '.' counter(subitem) ' ';
    counter-increment: subitem;
    color: #50faeb;
    margin-right: 4px;
  }
}
