html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: $black;
  color: $white;
  height: 100%;
  &.scroll-off {
    overflow: hidden;
    touch-action: none;
  }
  &.modal-open {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

.header__contacts-icon {
  fill: currentColor;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button-wrap {
  position: relative;
  height: 42px;
  .button {
    position: relative;
    z-index: 2;
    color: $button-color;
    background-color: $white;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 15px;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .button-border {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 1px;
    right: 0;
    height: 10px;
    width: calc(100% - 2px);
    background-image: linear-gradient(90deg, #349eff 0%, #52ffea 100%);
    border-radius: 0 0 15px 15px;
  }
}

.small-icon {
  width: 14px;
  height: 14px;
}

.medium-icon {
  width: 16px;
  height: 16px;
}

.large-icon {
  width: 22px;
  height: 22px;
}

.breadcrumbs {
  display: flex;
  gap: 17px;
  margin-bottom: 32px;
  &__crumb {
    position: relative;
    font-size: 12px;
    color: $gray;
    &:not(:first-of-type) {
      &::before {
        content: '/';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        color: rgba(168, 172, 201, 0.07);
      }
    }
  }
}

.title {
  font-weight: 500;
  color: $white;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
  svg {
    width: 26px;
    height: 26px;
    fill: $accent;
    margin-right: 10px;
  }
  @include for-tablet {
    margin-bottom: 24px;
    font-size: 22px;
  }
}
