$white: #ffffff;
$black: #13141b;
$gray: #8892ac;
$placeholder: rgba(168, 172, 201, 0.14);
$accent: #50faeb;
$button-color: #2d303e;

@mixin for-mobile {
  @media (max-width: 479.98px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (max-width: 920px) {
    @content;
  }
}

@mixin for-tablet-upper-up {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1279.98px) {
    @content;
  }
}
